<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Travel Planning App</title>
    </head>

    <body>

        <header>
            <div class="logo">
                Travel Planner App
            </div>
        </header>

        <main>
            <section class="form-section">
                <form class="travel-info-form">
                    <label for="destination">Destination</label>
                    <input id="destination" type="text" name="destination" value="" placeholder="Where are you going?" required>
                    <label for="date">Date</label>
                    <input id="date" type="date" name="date" value="" placeholder="Add date?" required>
                    
                    <input type="submit" class="form-button" name="" value="submit">
                </form>
            </section>

           <section class="trip-display-section">
               <!-- <div class="trip-info-card">
                   <div class="destination-geo-info">
                       <img class="destination-image" src="" alt="">
                       <div class="main-info">
                           <p class="destination-name"></p>
                           <p class="trip-date"></p>
                       </div>
                       <div class="temp-info">
                           <span class="temp-icon"></span>
                           <span class="temp"></span>
                       </div>
                   </div>
                   <div class="weather-highlight-div">

                   </div>
               </div> -->
               
            </section> 
        </main>

        <footer>
            <p>This is a footer</p>
        </footer>
        <script>
//             if ('serviceWorker' in navigator) {
//     window.addEventListener('load', () => {
//     navigator.serviceWorker.register('/service-worker.js').then(registration => {
//         console.log('SW registered: ', registration);
//     }).catch(registrationError => {
//     console.log('SW registration failed: ', registrationError);
//     });
//     });
// }
        </script>
         
    </body>
</html>
