img {
	width: 100%;
}

li + li {
	margin-top: 0.5rem;
}
.trip-info-card {
	color: #ffffcc;
	width: 100%;
	font-size: 1.3rem;
	display: flex;
	flex-flow: column nowrap;
	align-items: center;

	@media screen and (min-width: 769px) {
		flex-flow: row nowrap;

		& > div {
			flex: 1 1 50%;
		}
	}
}

.destination-geo-info,
.weather-highlight-div {
	height: 50vh;
	width: 100%;
}
.destination-geo-info {
	display: grid;
	background-color: #4c045e;
	grid-template-rows: repeat(3, 1fr);
	// grid-template-columns: repeat(3, 1fr);
	grid-template-columns: minmax(min-content, max-content) 1fr minmax(
			min-content,
			max-content
		);
	align-items: end;

	& ul {
		padding: 1rem;

		// &:first-child {
		// 	margin-bottom: 0.5rem;
		// }
	}
}

.destination-image {
	grid-area: 1 / 1 / -1 / -1;
	z-index: 0;
	height: 100%;
	object-fit: cover;
}

.main-info {
	grid-area: 3 / 1 / -1 / 2;
	z-index: 100;
}

.temp-info {
	grid-area: 3 / 3 / -1 / -1;
	z-index: 100;
}

.weather-icon {
	width: inherit;
}

.temp::before {
	content: "Temperature is ";
}

.temp::after {
	content: "\2103";
}

.weather-highlight-div {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(2, 1fr);
	background-color: #2a0134;
	align-items: center;
	justify-items: center;

	& > ul {
		grid-row: span 1;
		grid-column: span 1;
		text-align: center;
	}
}
