img {
	width: 100%;
}
.trip-info-card {
	width: 100%;
	display: flex;
	flex-flow: column nowrap;
	align-items: center;

	@media screen and (min-width: 769px) {
		flex-flow: row nowrap;

		& > div {
			flex: 1 1 50%;
		}
	}
}

.destination-geo-info {
	display: grid;
	grid-template-rows: repeat(3, 1fr);
	// grid-template-columns: repeat(3, 1fr);
	grid-template-columns: max-content 1fr max-content;
	height: 50vh;
	color: white;
	align-items: start;

	& ul {
		padding: 0.5rem;

		// &:first-child {
		// 	margin-bottom: 0.5rem;
		// }
	}
}

.destination-image {
	grid-area: 1 / 1 / -1 / -1;
	z-index: 0;
	height: 100%;
	object-fit: cover;
}

.main-info {
	grid-area: 3 / 1 / -1 / 2;
	z-index: 100;
}

.temp-info {
	grid-area: 3 / 3 / -1 / -1;
	z-index: 100;
}

.weather-icon {
	width: inherit;
}

.temp::before {
	content: "Temperature is ";
}

.temp::after {
	content: " \00B0 C";
}
